* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    font-family: 'poppins', sans-serif;
}

.container {
    padding: 10px 30px 30px 30px;
    width: 90vw;
    max-width: 520px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-background-color);
    box-shadow: 0.5px 0.5px 12px #000000;
    border-radius: 10px;
}


#result {
    text-align: center;
    width: 100%;
    padding: 25px;
    margin: 30px 0;
    font-size: 60px;
    color: #000000;
    text-shadow: 0 0 25px #ffffff;
    -webkit-text-stroke: 4px #000000;
}

#progress {
    font-size: 25px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    z-index: 100;
    height: 100px;
    width: 100px;
    border-top: 2px solid #0000ff;
    border-right: 2px solid #ff0000;
    border-bottom: 2px solid #ffd500;
    border-left: 2px solid #00ff2a;

    border-radius: 50%;
    animation-name: circle;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    display: none;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container button {
    width: 100%;
    padding: 15px 30px;
    background-color: #00563b;
    color: #000000;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

}

.container button:hover {
    opacity: 0.9;
}