/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: 'poppins', sans-serif;
}

.flex {
    display: flex;
}
.box div {
    align-self: center;
    font-size: 30px;
    background-color: #1bcd1b;
    width: 100%;
    color: #ffffff;
    padding: 1px 15px;
}
.box p {
    margin: 5px auto;
    font-size: 17px;
    font-weight: 700;
}
.box {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffffff;
    padding:20px;
    border-radius: 15px;
    border: 2px solid #808080;
    box-shadow: 8px 0 8px #808080;
}
.box button {
    width: 100%;
    padding: 6px 10px;
    font-size: 18px;
    transition: .3s;
    margin-top: 15px;
    background-color: #008bdc;
    border: none;
    color: #ffffff;
    border-radius: 5px;

}
.box button:hover {
    transform: translateY(-4px);
}
label {
    font-size: 18px;
    margin-block: 15px;
    color: #191919;
}
input {
    padding: 6px 10px;
    font-size: 18px;
    transition: .3s;
}
input:focus {
    border: 1px solid #1010f0cd;
}