
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    max-width: 1440px;
    background-color: #f5f5f5;
    overflow: hidden;
    margin: auto;
}

/* styling navigation menu */
nav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}


nav img {
    width: 150px;
}


nav .menu {
    display: flex;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
    margin-right: 50px;
    font-weight: 600;
}
nav .menu a:hover, nav .menu a:focus {

    color: #20bc7e;
}

nav .menu a:nth-child(2) {
    font-weight: 700;
    color: #20bc7e;
}

a {
    text-decoration: none;
    color: black;
}



main {
    padding: 100px 0;
}

.faculties-heading {
    color: #20bc7e;
    text-align: center;
    margin-bottom: 20px;
}

.discriptions-text {
    text-align: center;
    font-size: 15px;
    color: #272727;
}

.Experience{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 80px;
    width: 170px;

    border-radius: 20px;
    text-align: center;
    margin: 25px;
    padding: 15px;
    box-shadow: 0 0 10px black;
}

.box p span:first-child {
    color: #20bc7e;
    font-size: 18px;
    font-weight: 500;
}

.box p span:last-child {
    font-weight: 600;
}

@media screen and (max-width: 1115px) {
    nav {
        height: 10vh;
        padding: 0 20px;
    }

    nav img {
        width: 80px;
    }

    nav .menu {
        justify-content: center;
        gap: 20px;
    }

    nav .menu a {
        margin-right: 0px;
        font-weight: 500;
    }
}

@media screen and (max-width: 600px) {
    nav {
        padding: 0 5px;
    }

    nav .menu {
        gap: 13px;
    }

    nav .menu a {
        font-weight: 500;
        font-size: 9px;
    }

    nav img {
        width: 50px;
    }

    .heading {
        font-size: 12px;
        width: 100%;
        padding: 0 25px;
    }

    .discriptions-text {
        font-size: 11px;
        width: 100%;
        padding: 0 25px;
    }

    .box {
        height: 70px;
        width: 150px;
        margin: 5px;
        margin-top: 15px;
    }
}