
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background: #0f0f10;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

body {
    margin: 0 15vw;
}


a {
    text-decoration: none;
    cursor: pointer;
}


li {
    list-style: none;
}

/*  navigation bar CSS */
nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

nav img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 40px;
    cursor: pointer;
    transition: .3s;
}


nav ul li a {
    font-weight: 700;
    font-size: 14px;
    color: white;
}

nav ul li:first-child a {
    font-weight: 700;
    font-size: 14px;
}

.rightSideNav {
    display: flex;
    align-items: center;
}

.rightSideNav button {
    background: #1e1e21;
    border-radius: 8px;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 40px;
    cursor: pointer;
    transition: .3s;
}


main {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    position: relative;
}

.mainImgEarphone {
    width: 230px;
    position: relative;
    top: -210px;
    left: 90px;
}

.main {
    margin-left: 180px;
}

.onEarImg {
    width: 320px;
    margin-left: 50px;
}

.main h1 {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 25px;
}

.main h4 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 25px;
}

.main p {
    width: 65%;
    font-size: 16px;
    font-weight: 300;
    color: #bdc0c2;
    line-height: 25px;
    margin-bottom: 25px;
}

.shoppingBagAdd {
    display: flex;
    align-items: center;
    gap: 30px;
    background: #1e1e21;
    border-radius: 8px;
    width: fit-content;
    padding: 10px 40px;
}

.shoppingBagAdd img {
    width: 20px;
    background-color: transparent;
    cursor: pointer;

}


.shoppingBagAdd p {
    margin-bottom: 0;
    color: white;
    background-color: transparent;
}

.shoppingBagAdd span {
    background-color: transparent;
}

/* styling the social media section */
.socialMedia {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    position: relative;
    top: -50px;
    margin-bottom: 40px;
}

.socialMedia img {
    scale: 0.8;
}

/* styling the specification section */
.specification {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specificationLogo,
.case-logo {
    scale: 0.7;
    margin-bottom: 20px;
}

.specification-list {
    display: flex;
}

.specification-list img {
    scale: 0.7;
}
.specification-list img:last-child {
    width: 350px;
}

.specification-list-items div {
    margin-bottom: 20px;
}


.specification-list-items div p {
    font-size: 11px;
}

.specification-list-items div p:last-child {
    color: #bdc0c2;
    font-size: 10px;
    margin-top: 5px;
    width: 65%;
}

.specification-list-items div:first-child,
.specification-list-items div:last-child {
    margin-left: 30px;
}

.case-box {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case-box-item{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.case-box-item-img {
    scale: 0.8;
}

.case-box-item div {
    width: 20%;
    cursor: pointer;
    transition: -3s;
}

.case-box-item div p:first-child {
    color: #bdc0c2;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}

.case-box-item div p:last-child img {
    scale: 0.8;
    background-color: transparent;
}

.case-box-item div p:last-child {
    width: fit-content;
    background: #1e1e21;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    padding: 10px 20px;
}

.product-buy{
    background: #181a1b;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
    padding: 40px 0;
}

.product-buy div,
.product-buy p,
.product-buy h3,
.product-buy img {
    background-color: transparent;
}

.product-buy div {
    width: 25%;
    cursor: pointer;
}

.product-buy div h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

.product-buy div p {
    color: #bdc0c2;
    font-size: 14px;
    margin-bottom: 15px;
}

.product-buy div div {
    display: flex;
    align-items: center;
    width: fit-content;
    background: #000000;
    border-radius: 8px;
    padding: 10px 20px;
}

.product-buy div div img {
    scale: 0.8;
    margin-right: 10px;
}

.product-buy div div p {
    margin-bottom: 0;
    font-size: 12px;
    color: white;
}

/* designing the product section for displaying the items */
.product-style {
    display: flex;
    flex-direction: column;
    margin: 0 150px;
}

.product-style-logo {
    display: flex;
    flex-direction: column;
}

.product-style-logo {
    scale: 0.3;
}

.product-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 50px;
}

.product-card {
    position: relative;
    width: 130px;
    height: 130px;
    background: #181a1b;
    border-radius: 8px;
    cursor: pointer;
}

.product-img {
    width: 75px;
    height: 100px;
    position: absolute;
    z-index: 100;
    top: -40px;
    left: 28px;
}

.product-img,
.product-card p,
.product-card span,
.product-card img,
.product-card div {
    background-color: transparent;
}

.product-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 15px;
}

.product-info p {
    font-size: 12px;
}

.product-info p span {
    color: #bdc0c2;
}

.product-info div {
    background: #0a0a0b;
    border-radius: 8px;
    padding: 2px 6px;
}

.product-info div img {
    width: 13px;
    height: 13px;
}

footer {
    margin: 100px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.footer-logo {
    scale: 0.8;
    cursor: pointer;
    transition: -3s;
}

.footer-logo:hover {
    transform: translate(0, -4px);
}

ul li a {
    font-size: 12px;
    color: #BDC0C2;
}

ul li:first-child a {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

ul li:first-child {
    margin-bottom: 10px;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}

.footer-subscription div:first-child {
    background: #181A1B;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
}

.footer-subscription div:first-child input {
    border: none;
    background-color: transparent;
}

.subscribe-button {
    background: #0A0A0B;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe-button img {
    scale: 0.8;
}

.subscribe-button p {
    font-size: 12px;
}

.footer-subscription div:last-child img {
    margin-right: 10px;
    scale: 0.8;
}

.arrow-up {
    position: absolute;
    right: -160px;
    scale: 0.8;
}

/* media query */
@media screen and (max-width: 1140px) {
    body {
        margin: 0 100px;
    }

    .product-items {
        padding-left: 0;
        justify-content: center;
    }

    .arrow-up {
        display: none;
    }
}

@media screen and (max-width: 880px) {
    body {
        margin: 0 15px;
    }

    .nav-right-section ul {
        z-index: 10;
    }

    main {
        display: flex;
        align-items: center;
        margin-top: 0px;
    }

    .mainImg {
        width: 70vw;
        opacity: 0.3;
        z-index: 1;
        top: -150px;
        margin: auto;
    }

    .main {
        margin: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .onEarImg {
        width: 80%;
        margin-left: 0;
    }

    .shopping-bag-section {
        align-items: center;
        gap: 14px;
        border-radius: 7px;
    }


}

@media screen and (max-width: 650px) {
    body {
        margin: 0 8px;
    }

    nav {
        justify-content: space-around;
        align-items: center;
    }

    nav ul li {
        margin-right: 10px;
        font-size: 12px;
    }

    nav ul li a {
        font-weight: 500;
    }

    .nav-right-section {
        display: flex;
        align-items: center;
    }

    .nav-right-section button {
        font-weight: 200;
        font-size: 10px;
        padding: 4px 6px;
    }

    main {
        display: flex;
        padding-bottom: 150px;
        padding-top: 50px;
    }

    .mainImg {
        display: none;
    }

    .main {
        margin-left: 0px;
        align-items: center;
        justify-content: center;
        background-image: url(./assists/Photos/specsImage.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .onEarImg {
        width: 60%;
        margin-left: 0px;
    }

    .main h1 {
        text-align: center;
        background: none;
    }

    .main h4 {
        text-align: center;
        background: none;
    }

    .main p {
        width: 70%;
        text-align: center;
        background: none;
    }

    .shopping-bag-section {
        gap: 10px;
        width: 210px;
        height: 45px;
    }

    .social-media-section {
        justify-content: center;
        padding: 0 60px;
        gap: 6px;
    }

    .social-media-section img {
        width: 70px;
    }
    .specification-list img:last-child {
        width: 200px;
        height: 250px;
    }
    .case-item {
        flex-direction: column;
        gap: 0px;
        width: 100%;
    }

    .case-item div p:first-child {
        font-weight: 400;
        line-height: 20px;
        width: 100%;
    }

    .case-item div {
        width: 100%;
    }

    .case-item-img {
        width: 100%;
    }

    .case-item div p:last-child img {
        scale: 0.8;
    }

    .case-item div p:last-child {
        width: 100%;
        text-align: center;
    }

    .buy-product {
        flex-direction: column-reverse;
        border-radius: 10px;
        gap: 10px;
        margin-top: 100px;
        padding: 100px 0;
        margin-bottom: 60px;
    }

    .buy-product img:last-child {
        width: 100%;
    }

    .buy-product div {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .buy-product div div {
        width: 200px;
    }

    .product {
        margin: 0 0;
    }

    .product-logo {
        display: flex;
        flex-direction: column;
    }

    .product-logo {
        scale: 0.3;
    }

    .product-items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        padding-left: 0px;
    }

    .product-img {
        width: 65px;
        height: 95px;
    }

    /* footer */
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer ul {
        display: flex;
        gap: 5px;
    }

    footer ul li {
        font-size: 6px;
    }

    .footer-subscription div:first-child {
        width: 100%;
        padding: 5px 15px;
        margin: auto;
        align-items: center;
    }

    .subscribe-button {
        width: 30vw;
    }

    .footer-subscription div:first-child input {
        width: 50vw;
    }

    .footer-subscription div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}